page-contact {

}

#pageContact{
  > form {
  }


  ion-card{
    width: 50%;
    height: auto;
    margin: auto;
  }

  button{
    width:100%;
    position: absolute;
    right:0;
    bottom:0;
  }

  .qrcode{
    height:auto;
  }

  .qrcode img{
  }

}



#pageContact p{

}

#pageContact button{

}
